@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?6s6d3k');
    src:    url('../fonts/icomoon.eot?6s6d3k#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?6s6d3k') format('truetype'),
        url('../fonts/icomoon.woff?6s6d3k') format('woff'),
        url('../fonts/icomoon.svg?6s6d3k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
    content: "\e900";
}
.icon-phone:before {
    content: "\e901";
}
.icon-menu:before {
    content: "\e902";
}
.icon-close:before {
    content: "\e903";
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#logotipo {
  display: block;
}

.contenedorMenu ul {
  display: inline;
}
.contenedorMenu {
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  text-align: center;
  font-size: 24px;
  position: absolute;
  right: 0;
}

.contenedorMenu li {

  display: inline-block;
}
.contenedorMenu a {
  color: white;
  text-decoration: none;
}

.menu {
  font-weight: bold;
  height: 20px;
  width: 200px;
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 16px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.menu a:hover {
  transition: 300ms;
  color: #c50a0a;
}

.seleccionado a{
  color: #c50a0a;
}

.title-a{
  padding-top: 40px;
}

.contenedorCuerpo {
  font-family: Montserrat;
  margin: auto;
  font-size: 28px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-bottom: 200px;
  text-align: center;
}

footer {
  background: #212121;
  padding-top: 40px;
  line-height: 30px;
  color: white;
  height: 100px;
  text-align: center;
}

.burguer-button {
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  background: #395667;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: fixed;
  left: 20px;
  top: 20px;
  color: white;
  z-index: 3;
  display: none;
}

.parrafo {
  text-align: justify;
}


.contenedorCuerpo img {
  display: block;
  margin: auto;
}
/* .imagen {
  display: block;
  margin: auto;
} */

@media screen and (max-width: 500px){
  .menu{
    font-size: 24px;
  }
  .burguer-button {
    display: block;
  }
  .contenedorMenu {
    background: rgba(0, 200, 255, .8);
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: flex;
    width: 100%;
    align-items: center;
    transition: .3s;
  }
  .contenedorMenu.active {
    left: 0;
  }

  .contenedorMenu ul {
    margin-left: -40px;
    flex: 1;
  }
  .contenedorMenu li {
    width: 100%;
    margin-left: -30px;
    display: inline-block;
    margin: 0;
    padding: 14px 0;
    border-bottom: 1px solid white;
  }

  .contenedorMenu li:before {
    display: none;
  }

  .contenedorMenu li:first-child {
    border-top: 1px solid white;
  }
  #logotipo{
    height: 150px;
    width: 100%;
  }
  .imagen{
    width: 200px;
  }

  .title-a{
    padding: 0;
    font-size: 35px;
    margin-bottom: 10px;
  }
  .textos{
    font-size: 20px;
    margin: 0;
    justify-content: unset;
  }
  .contenedorCuerpo{
    margin-bottom: 40px;
  }
  .titulos{
    margin:10px;
    font-size: 23px;
  }

}
